@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #9ba8ab;;
    background-color: #06141b;
  }
}

@layer components {
  .menuLink {
    @apply cursor-pointer hover:text-[#fff];
  }
  .tags {
    background-color: #4a5c6a;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: #ccd0cf;
    font-size: 12px;
  }

  .tags:last-child {
    margin-right: 0;
  }

  .tags:nth-child(2) {
    background-color: #442202;
  }
  .tags:nth-child(3) {
    background-color: #30443a;
  }
  .tags:nth-child(4) {
    background-color: #503736;
  }
  .tags:nth-child(5) {
    background-color: #10ac84;
  }
  .tags:nth-child(6) {
    background-color: #5352ed;
  }
  .tags:nth-child(7) {
    background-color: #db9f1e;
  }
}
